<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new movie</title>
</head>
<body>
    <form action="/get_movie" method="post">
        <div>
            <label for="name">Название фильма:</label><br>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="director">Режиссер:</label><br>
            <input type="text" id="director" name="director" required>
        </div>

        <div>
            <label for="cost">Кассовые сборы</label><br>
            <input type="number" id="cost" name="cost" required>
        </div>

        <div>
            <label for="rating">Рейтинг</label>
            <input type="number" id="rating" name="rating" value="true">
        </div>

        <div>
            <button type="submit">Добавить фильм</button>
        </div>
</body>
</html>